<a href="/dashboard" class="go-back"> &larr; Back to dashboard</a>

<article class="new-page">
    <section class="newForm">
        <div class="headForm">
            <h2>Create New Blog Post</h2>
        </div>
        <div class="section">
            <form class="postNewForm">
                <div class="titleSectionPost">
                    <label for="postTitle">Title</label>
                    <input type="text" id="postTitle" name="postTitle" />
                </div>
                <div class="contentPost">
                    <label for="contentPost">Content</label>
                    <textarea class="entryField" id="contentPost" name="contentPost"></textarea>
                </div>
                <button type="submit" class="btn">Create</button>
            </form>
        </div>
    </section>
</article>

<script src="/javascript/add-post.js"></script>