<section class="login-page">
    <div class="headForm">
        <h1>Log In</h1>
    </div>
    <div class="section">
        <form class="loginForm">
            <div>
                <label for="userName">Username</label>
                <input type="text" class="entryField" id="userName" />
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" class="entryField" id="password" />
            </div>
            <div>
                <button type="submit" class="btn-signup">Log In!</button>
            </div>
        </form>
    </div>

    <a href="/signup" class="signUpLink">Sign Up Instead</a>  <!--point to sign up handlebar signup.handlebars page-->
</section>

<script src="/javascript/login.js"></script>