<section class="sign-up-page">
    <div class="headForm">
        <h1>Sign Up to our Tech Blog</h1>
    </div>
    <div class="section">
        <form class="signUpForm">
            <div>
                <label for="userName">Select a Username</label>
                <input type="text" class="entryField" id="userName" />
            </div>
            <div>
                <label for="signUpPassword">Select a password</label>
                <input type="password" class="entryField" id="signUpPassword" />
            </div>
            <div>
                <button type="submit" class="btn-signup">Sign Up!</button>
            </div>
        </form>
    </div>

    <a href="/login" class="login-link">log in instead</a>
</section>

<script src="/javascript/signup.js"></script>